body{
  background-color: #f3f2f1 ;
}
#centered-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.score-card {
  width: fit-content;
  padding: 10px;
  font-size: 800%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #505e7b;
  color: #c8fefe;
  cursor: pointer;
}
.bg-score {
  background-color: #3d3f4e;
}
.team-name{
  font-size: xx-large;
  font-family: sans-serif;
}
.timer{
  font-size: 25px;
  background-color: #505E76;
  border-radius: 25px;
}
.set-timer{
  font-size: 25px;
  background-color: #505E76;
  border-radius: 25px;
  cursor: pointer;
}
.glow{
  box-shadow: 0 0 9px 3px !important;
}